<div class="container">
  <h1>Shorten yo Url, Bitch!!</h1>
  
  <% if @url %>

   <p>Your shortened url <a href=" <%=@url.long_name%>"><%= @url.short_name %></a></p>
  <% end %>

  <form action="/urls" method="post">
    <input type="text" name="user_input" value="http://">
    <input type="submit" value="CLICK ME, SUCKA!"> 
  </form>
  <% if @user_urls %>
  <ul>
    <% @user_urls.each do |url| %>
      <li>
        <h4><a href="/<%=url.short_name %>"><%= url.short_name %></a></h4>
      </li>
    <% end %>
  </ul>
  <% end %>
  <% if current_user == nil %>

  <ul>
  <% if @urls %>
    <% @urls.each do |url| %>
      <li>
        <h4><a href="/<%= url.short_name %>"><%=url.short_name %></a></h4>
      </li>
    <% end %>
  <% end %>
  </ul>

  <h2>Login!</h2>
  <form action="/login" method="post">
    <label for="email">Email</label>
    <input type="text" name="user[email]" placeholder="email">
    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="password">
    <input type='submit' value="Log In">
  </form>
  <br />

  <h2>Logup!</h2>
  <form action="/logup" method="post">
    <label for="name">Name</label>
    <input type="text" name="user[name]" placeholder="name">
    <label for="email">Email</label>
    <input type="text" name="user[email]" placeholder="email"><br />
    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="password">
    <input type='submit' value="Log Up">
  </form>
  <% else  %>
  <h1>Welcome home, <%=current_user.name %>!</h1>
<br><br>
<a href="/logout">Logout</a>
  <% end  %>
</div>

